:root {
  --header-height: 76px;
  --item-menu-height: 70px;
  /* 
  --color-primary: #6543fb;
  --color-sub-primary: #6e59f8;
  --color-secondary: #4d2ce0; */

  --color-primary: #2e8a3a;
  --color-sub-primary: #539c5d;
  --color-secondary: #0c7208;

  --color-sub-secondary: #e0bf2c;

  /* --color-primary-soft: #e0e7ff; */
  --color-primary-soft: #f0fff4;

  --color-white-soft: #f3f6ff;
  --color-white: #fff;

  --color-gray: #b0b0b0;
  --color-black: #333333;

  --color-ocupado: #ffaaa5;
  --color-ocupado-text: #d43737;

  --color-no-disponible: #c4c4c4;
  --color-no-disponible-text: #7c7c7c;

  --color-disponible: #3db34480;
  --color-disponible-text: #2b8430;

  --color-tool-tip: #353535b2;

  --transition: 0.15s ease;

  --border-gray: 1px solid var(--color-gray);
  --border-primary-soft: 1.5px solid var(--color-primary-soft);
  --border-primary: 1.5px solid var(--color-primary);

  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-big: 64px;

  --gap-s: 3px;
  --gap-m: 8px;
  --gap-l: 16px;
  --gap-xl: 24px;
  --gap-xxl: 32px;
  --gap-big: 64px;

  --padding-global-x: 6%;
  --padding-global-y: 24px;
  --padding-global: var(--padding-global-y) var(--padding-global-x);
  --padding-header: 0 var(--padding-global-x);
  --padding-footer: 48px var(--padding-global-x);
  --padding-item-menu-movil-x: 32px;
  --padding-item-menu-movil-y: 16px;
  --padding-item-menu-movil: var(--padding-item-menu-movil-y)
    var(--padding-item-menu-movil-x);
}

body {
  background-color: #00000042;
  background-color: var(--color-white);
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-m);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

li {
  text-decoration: none;
}
