:root {
  --header-height: 86px;
  --item-menu-height: 70px;
  --cover-image-height: 380px;

  --color-primary: #044d36;
  --color-sub-primary: #176d52;
  --color-secondary: #00442f;

  --color-yellow: #e0bf2c;
  --color-white: #fff;
  --color-gray: #b0b0b0;
  --color-black: #333333;
  --color-red: #ff726b;
  --color-red-text: #d43737;
  --color-disabled: #c4c4c4;
  --color-disabled-text: #646464;

  --transition: 0.15s ease;

  --border-gray: 1px solid var(--color-gray);
  --border-primary: 1.5px solid var(--color-primary);

  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-big: 64px;

  --gap-s: 3px;
  --gap-m: 8px;
  --gap-l: 16px;
  --gap-xl: 24px;
  --gap-xxl: 32px;
  --gap-big: 64px;

  --padding-global-x: 8%;
  --padding-global-y: 36px;
  --padding-global: var(--padding-global-y) var(--padding-global-x);
  --padding-header: 0 var(--padding-global-x);
  --padding-footer: 48px var(--padding-global-x);
  --padding-item-menu-movil-x: 32px;
  --padding-item-menu-movil-y: 16px;
  --padding-item-menu-movil: var(--padding-item-menu-movil-y)
    var(--padding-item-menu-movil-x);

  --border-radius-global: 2px;
}

body {
  background-color: #00000042;
  background-color: var(--color-white);
}

* {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-m);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}

li {
  text-decoration: none;
}

button {
  cursor: pointer;
}
